body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    height: 10vh;
    background-color: aliceblue;
  }
  
  header h1 {
    cursor: pointer;
  }
  
  h1 {
    margin: 0;
  }
  
  h2 {
    margin: 20px;
  }

  #small-logo {
    width: 200px;
  }
  
  .scores {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .score {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    text-transform: uppercase;
  }

  .Board {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .card-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 2rem;

        .image {
            position: relative;
        }

        
  }

  .image img {
        height: 90%;
        width: 90%;
  }
  